body {
    font-family: Consolas, "Courier New", monospace;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(135deg, #ffcfd7, #ff82ac);
    color: #ffff;
}
header {
    font-family: Consolas, "Courier New", monospace;
    background: #ffd3e2;
    color: #ffff;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 3px 3px 6px rgba(255, 0, 43, 0.3);
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: #ff4081;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
nav ul li a:hover {
    text-decoration: underline;
}
section {
    margin: 35px auto;
    padding: 25px;
    width: 80%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    background: rgba(255, 255, 255, 0.9);
    color: #333;
}
section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    object-fit: contain;
    max-height: 300px;
    width: auto;
}

h1, h2 {
    color: #ff4081;
}
ul {
    list-style-type: none;
    padding: 0;
}
ul li {
    background: #fff;
    color: #ff4081;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
}
